.info-container {
    width: 100%;
    height: 20vh;
    background-color: black;
    color: white;
    /* padding-bottom: 10vh; */
    margin-bottom: 100vh;
}
.info {
    display: flex; 
    justify-content: center;
    align-items: flex-start;
    height: 100%;
    margin: 0 auto;
}
@media screen and (min-width: 375px) and (max-width: 700px) {
    .info{
       line-height: 1;
       text-align: center;
    }
}

@media screen and (min-width: 768px) and (max-width: 960px) {
    .info-container {
        height: 15vh;
    }
    .info{
       line-height: 3;
       text-align: center;
    }
}