.navbar {
    position: fixed;
    top: 0;
    background-color: transparent;
    width: 100%;
    height: 40px;
    padding-left: 50px;
    font-size: 20px;
}

.navbar-logo{
    height: 40px;
    line-height: 36px;
    color: aquamarine;
    cursor: pointer;
    transition: all 0.s ease;
}
.scrolling {
    background-color:#1C1C1C;
    transition: all 0.s ease;
}