body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
h1 {
  color:#E59866;
  font-family: 'Prompt', sans-serif;
}
.cont {
  height: 9rem;
  width: 100%;
  background: linear-gradient(90deg,#1c3643,#273b47 25%,#1e5372);
  text-align: center;
}
.title {
padding-top: 2rem;
}
.subtitle{
  color: aquamarine;
}
.navbar-color{
  background-color: #E5E7E9;
}