.aboutMe-container {
    background: black;
    color: white;
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-evenly; 
}
.aboutMe-description { 
    display: flex; 
    flex-direction: column; 
    align-items: center;
    justify-content: center;
    text-align: right;
}
.aboutMe-description > h2{ 
    padding-bottom: 18px;
}
.photo-container { 
    width: 16rem;
    object-fit: contain;
}
.photo-container > p {
    padding-top: 4px;
    font-size: 18px;
    margin-bottom: 36px;
}
.photo-container_img{
    width: inherit;
    border-radius: 50px;
}
.technologies-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.technologies-container > h2 {
    text-align: center;
}
.icons-container {
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-items: center;
    text-align: center;
}
.icons-container__item > img {
    width: 68px;
    margin: 4px;
}
.icons-container__item > p {
    text-align: center;
}


@media only screen and (min-width: 320px) and (max-width: 700px) {
    .aboutMe-container {
        flex-direction: column;
    }
    .aboutMe-description {
        text-align: center;
    }
    .photo-container { 
        width: 20rem;
        object-fit: contain;
    }
    .aboutMe-img{
        width: 100%;
    }
    .icons-container {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }
}
@media only screen and (min-width: 705px) and (max-width: 1024px) {
    .aboutMe-container {
        flex-direction: column;
        justify-content: space-evenly;
    }
}