#carousel {
  width: 100%;
  min-height: 100vh;
  background-color: #000000;
  margin-bottom: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#carousel > h1 { 
  color: white;
  text-align: center;
  /* margin-bottom: 18px; */
} 

.carousel__container {
  padding: 62px 0 62px 0;
}

.carousel__container::-webkit-scrollbar {
  width: .2rem;
  height: .5rem;
}

.carousel__container::-webkit-scrollbar-thumb {
  width: 2px;
  background: #A3E4D7;
  border-radius: 0.2rem;
}

.carousel__container:hover .carousel__container-item {
  opacity: 0.9;
}

.carousel__container:hover .carousel__container-item:hover {
  opacity: 1;
  transform: scale(1.2);
}

.carousel__container-item {
  display: inline-block;
  padding: 8px;
  width: 15rem;
  height: 20rem;
  border: 2px solid #96DBF1;
  border-radius: 25px;
  margin-left: 16px;
  margin-right: 16px;
  transform-origin: center left;
  transition: 450ms all;
  overflow: hidden;
}
 
.carousel__container-item a {
  text-decoration: none;
}

.carousel__container-item:hover ~ .carousel__container-item{
  transform: translate3d(90px, 0, 0);
}

.card-title{
  display: flex;
  flex-direction: column;
  word-wrap: break-word;
  height: 50px;
  margin: auto;
  color: white;
  text-align: center;
  margin-top: 10px;
  font-size: 22px;
  margin-bottom: 7rem;
  
}

.card-title> span {
  color:#A3E4D7;
  cursor: pointer; 
}

.card-title p {
  width: inherit;
  font-size: 16px;
}

.carousel__container-item__img {
  width: inherit;
  height: 10rem;
  object-fit: cover;
}

@media screen and (min-width: 320px) and (max-width: 760px) {
  #carousel {
    padding-top: 98px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .carousel__container {
    padding: 24px 0 62px 0;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    overflow: unset;
  } 
  .carousel__container:hover .carousel__container-item:hover {
    opacity: unset;
    transform: unset;
  }
  .carousel__container-item {
    margin-bottom: 30px;
    transform-origin: unset;
    transition: unset;
  }
  .carousel__container-item:hover ~ .carousel__container-item{
    transform: unset;
  }
}

@media screen and (min-width: 768px) and (max-width: 1000px) {
  #carousel {
    padding-top: 98px;
  }
  .carousel__container {
    display: grid;
    justify-items: center;
    grid-template-columns: repeat(2, 1fr);
    overflow: unset;
    padding: 24px 0 62px 0;
  }
  .carousel__container:hover .carousel__container-item:hover {
    opacity: unset;
    transform: unset;
  }
  .carousel__container-item {
    margin-bottom: 30px;
    transform-origin: unset;
    transition: unset;
  }
  .carousel__container-item:hover ~ .carousel__container-item{
    transform: unset;
  }
}

@media screen and (min-width: 1010px) and (max-width: 1370px) {
  #carousel {
    padding-top: 98px;
  }
  .carousel__container {
    display: grid;
    justify-items: center;
    grid-template-columns: repeat(3, 1fr);
    overflow: unset;
  }
  .carousel__container:hover .carousel__container-item:hover {
    opacity: unset;
    transform: unset;
  }
  .carousel__container-item {
    margin-bottom: 30px;
    transform-origin: unset;
    transition: unset;
  }
  .carousel__container-item:hover ~ .carousel__container-item{
    transform: unset;
  }
}



